<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
	<configuration>
		<settings>            <!-- <settings>이 없으면 만들어줍니다. -->
   			 <setting name="jdbcTypeForNull" value="NULL" />
   		</settings>
   		
		<typeAliases>
			<typeAlias type="com.hk.tm.member.vo.UserVO" alias="UserVO" />
			<typeAlias type="com.hk.tm.member.vo.SellerVO" alias="SellerVO" />
			<typeAlias type="com.hk.tm.member.vo.AdminVO" alias="AdminVO" />
			
			<typeAlias type="com.hk.tm.board.vo.NoticeVO" alias="NoticeVO" />
			<typeAlias type="com.hk.tm.board.vo.CommentVO" alias="CommentVO" />
			<typeAlias type="com.hk.tm.board.vo.EventVO" alias="EventVO" />
			<typeAlias type="com.hk.tm.board.vo.ImageVO" alias="ImageVO" />
			<typeAlias type="com.hk.tm.board.vo.LikeyouVO" alias="LikeyouVO" />
			<typeAlias type="com.hk.tm.board.vo.PromotionVO" alias="PromotionVO" />
			<typeAlias type="com.hk.tm.board.vo.ReviewVO" alias="ReviewVO" />
			<typeAlias type="com.hk.tm.board.vo.TravelVO" alias="TravelVO" />
			<typeAlias type="com.hk.tm.board.vo.ReservationVO" alias="ReservationVO" />
		</typeAliases>
		
		
	</configuration>

